{% extends 'calculator/base.html' %}
{% block about %}
{% load static %}

<div class="container">
    <h1 class="display-6">Калькулятор пищевой ценности продуктов питания</h1>
    <p class="lead">
        Добро пожаловать на SimpleFoodCalculator. При помощи этого калькулятора можно подсчитать количество калорий выбранного рациона.
        База данных содержит более 7 тысяч продуктов и готовых блюд. Также можно отдельно изучить таблицы по категориям.
    </p>
</div>
{% endblock about %}

{% block calculator %}
<div class="organizer container">
    <p class="lead">Калькулятор</p>
    {% if cart_items %}
        <table class="table table-secondary table-sm container">
        <tr class="table table-secondary">
            <td class="table table-secondary">Название</td>
            <td class="table table-secondary">Количество</td>
        </tr>
        {% for key, value in cart_items.items %}
            <tr class="table table-light lead">
                <td class="table table-light">{{value.title}}</td>
                <td class="table table-light">{{value.count}} гр.</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</div>
<div class="calculator container">
    <form action="{% url 'home' %}" method="post">
    {% csrf_token %}
        <!-- Панель выбора категории-->
        <div class="form-floating mb-3">
            <div class="form-row col-4">{{form.categories}}</div>
        </div>
        <!-- Панель поиска продукта-->
        <div id="search-panel">
            <div class="form-floating mb-2">
                <div class="form-row col-4"><input class="form-control" type="text" id="opt" placeholder="Начните вводить название"></div>
            </div>
        </div>

        <div class="form-floating mb-3">
            <div class="form-row col-4">
                <select name="products" id="product-select" class="form-select">

                </select>
            </div>
        </div>

        <div class="form-floating mb-3">
            <div class="form-row col-4">{{form.count}}</div>
        </div>
        <button class="btn btn-primary" type="submit">Добавить</button>
    </form>
    <!--Hidden result field form and button-->
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        {% if not values %}
        <button class="btn btn-primary" type="submit">Рассчитать</button>
        {% endif %}
        <div class="form-floating mb-2">
                <div class="form-row col-3">{{result.result}}</div>
        </div>
    </form>
</div>
<!--Search by option fields script-->
<script src="{% static 'calculator/js/search_panel.js' %}"></script>
<script src="{% static 'calculator/js/get_category.js' %}"></script>
<!--Result table section-->
{% if values %}
    <div class="container">
         <p class="lead">
        Пищевая ценность выбранных продуктов составляет:</p>
        <table class="table table-secondary table-sm container">
        <tr class="table table-secondary lead">
            <td class="table table-secondary ">Калории</td>
            <td class="table table-secondary ">Белки</td>
            <td class="table table-secondary ">Жиры</td>
            <td class="table table-secondary ">Углеводы</td>
        </tr>
        <tr class="table table-light lead">
            <td class="table table-light">{{values.calories}} кКал.</td>
            <td class="table table-light">{{values.protein}} гр.</td>
            <td class="table table-light">{{values.fats}} гр.</td>
            <td class="table table-light">{{values.carbs}} гр.</td>
        </tr>
        </table>
    </div>

{% endif %}
{% endblock calculator %}