{% extends 'calculator/base.html' %}

{% block content %}
<div class="organizer">
    {% if organizer %}

    {% endif %}
</div>
<div class="calculator"><form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    {% for item in form %}
        <p></p><label>{{item.label}}: </label>{{item}}</p>
    {% endfor %}
    <button type="submit">Посчитать</button>
</form></div>
{% if food_values %}
    <p class="total-values">
    В выбранном количестве продукта содержится:
        <p>Калории: {{food_values.0}}</p>
        <p>Белки: {{food_values.1}}</p>
    <p>Жиры: {{food_values.2}}</p>
    <p>Углеводы: {{food_values.3}}</p>
    </p>
{% endif %}
{% endblock content %}